.git
.clang
.build*
aclocal*
/build/
Backup
config.log
configure
configure.scan
Debug*
Release*
patches
Makefile
ipch
.codelite
.deps
*/.deps
*/*/.deps
*.db
*.gch
*.tags
*.workspace.*
*_wsp.mk
*.suo
*.sdf
*.ncb
Makefile.in
*/Makefile.in
*/*/Makefile.in
*.vcproj.*
*.vcxproj.*
*.opensdf
*/*.gch
*/*/*.gch
*/*/*.mk
*/*.mk
aclocal.m4
configure.scan
config.guess
config.sub
ar-lib
compile
depcomp
install-sh
m4
/autom4te.cache/
missing

test-driver
