.git
.clang
.build*
aclocal*
build
Backup
config.log
configure
Debug*
Release*
patches
Makefile
ipch
.codelite
*.db
*.gch
*.tags
*.workspace.*
*_wsp.mk
*.suo
*.sdf
*.ncb
*.vcproj.*
*.vcxproj.*
*.opensdf
*/*.txt
*/*/*.txt
*/*.gch
*/*/*.gch
*/*/*.mk
*/*.mk
configure.scan
