*.vcxproj		eol=crlf
*.sh			eol=lf
*.inc			eol=lf
*.jpg			-text
*.png			-text
*.gif			-text
*.bat			eol=crlf
*.cpp			eol=lf
*.cxx			eol=lf
*.cc			eol=lf
*.c				eol=lf
*.h				eol=lf
*.hpp			eol=lf
*.hxx			eol=lf

*.code-workspace	eol=lf

*.ac			eol=lf
*.mk			eol=lf
*.md			eol=lf
